.input {
    display: block;
    position: relative;
    width: 600px;
    margin-bottom: 20px;
}

.character__name {
    float: right;
    width: 30%;
}

.character__level {
    float: right;
    width: 30%;
    display: none;
}

.character__level--enable {
    display: inline;
}

.character__classes {
    width: 20%;
}

.character__classes--clear {
    right: -60px;
    position: absolute;
    margin-left: 10px;
    width: 50px;
    text-align: center;
    display: none;
}

.character__classes--clear-enable {
    display: inline;
}