.character__name {
    float: right;
    width: 30%;
}

.character__level {
    float: right;
    width: 30%;
}

.class__clear {
    position: absolute;
    right: -60px;
    width: 50px;
}

.character__reset {
    right: -35px;
    position: absolute;
    margin-left: 10px;
    width: 25px;
    text-align: center;
    display: none;
}

.character__reset--enable {
    display: inline;
}

.class-choices {
    width: 20%;
}

.input {
    display: block;
    position: relative;
    width: 600px;
    padding-bottom: 10px;
}