/* .App {
  background-image: url("../public/charsheet.png");
  width: 1700px;
  height: 2200px;
} */

.form__background {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.form__box {
  position: absolute;
  top: 25%;
  left: 15%;
  width: 70%;
  height: 50%;
  background-color: white;
  border: 3px solid;
  border-radius: 10px;
  padding: 0;
  display: inline;
}

.form__box label {
  padding: 30px;
}

.form__box input,
.form__box select {
  margin-right: 30px;
  position: relative;
  float: right;
  width: 50%;
}

.form__box input[type="text"] {
  margin-top: 20px;
}

input[type="submit"] {
  width: 50px;
  position: absolute;
  bottom: 5px;
  right: 0px;
}

.form__break {
  line-height: 70px;
}

.abilities__box {
  position: absolute;
  padding: 0;
  margin: auto;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  border: 1px solid;
}

.abilities__base {
  display: inline-block;
  margin: 3% 3%;
  width: 50px;
  height: 50px;
  background-color: red;
}

.form__background--visible {
  display: block;
}
